/*----------HEADER SOCIAL ICONS------------*/

header {

	ul.social li {
		width: auto;
		margin: 0 .7rem;
	}
	ul {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
} //end header

/*----------NAV----------*/
nav {
    ul {
        justify-content: flex-start;
    }
}
/*------------MAIN----------*/

main {

	/*---------COLUMN LAYOUT---------*/
	@for $i from 1 through 12 {
		$w: ($i / 12) * 100%;
		.medium-#{$i} {
			width: $w;
			float: left;
		}
	}
} //end end
