/*----------HEADER SOCIAL ICONS------------*/

header {
    
        ul.social li {
        width: auto;
        margin: 0 .7rem;    
    }
}

//end header
/*------------MAIN----------*/

main {
	.purple {
		color: purple;
	} //end main
}
