/*------------HEADER---------------*/

header {
	background-color: $primaryColor;
	color: $secondaryColor;
	padding: 1rem $gutter;
	h1 {
		font-size: 2rem;
		font-weight: $normalWeight;
	}
	h2 {
		font-size: 1.12rem;
		font-weight: $normalWeight;
	} //end h2 rules
    
	/*--------HEADER SOCIAL ICONS-----------*/
    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        
    }
    ul.social li {
		list-style-type: none;
		
	}
	ul.social li a {
		display: block;
		margin: 0 auto;
		background-image: url(../images/media.png);
		height: 3rem;
		width: 3.2rem;
        transition: background-image .5s ease;
	}
    ul.social li a:hover {
		background-image: url(../images/media-.png);
		transition: background-image .5s ease;
        
	}
	ul.social .vimeo a {
		background-position: -102px -46px;
	}
	ul.social .google a {
		background-position: -53px .3px;
	}
	ul.social .twitter a {
		background-position: -152px .3px;
	}
	ul.social .youtube a {
		background-position: -105px .3px;
	}
    ul.social .vimeo a:hover {
		background-position: -102px -46px;
	}
	ul.social .google a:hover {
		background-position: -53px .3px;
	}
	ul.social .twitter a:hover {
		background-position: -152px .3px;
	}
	ul.social .youtube a:hover {
		background-position: -105px .3px;
	}
} //end header
/*-------------MAIN--------------*/

main {
	max-width: 60rem;
	min-height: 20rem;
	h1 {
		font-size: 2rem;
		margin: 1.5rem 0 .5rem 0;
		color: $primaryColor;
	} //end h1
	.plum {
		color: plum;
		font-size: 8rem;
	}
	ul li {
		width: 136px;
		height: 136px;
		background-image: url(../images/ob.jpg);
		background-position: 0 0;
	}
	ul li a {
		display: block;
		text-align: center;
		font-weight: $boldWeight;
		padding: .5rem 0;
		color: $primaryColor;
		text-decoration: none;
		transition: background .75s ease, color .75s ease;
	}
	ul li.active a {
		background-color: darken($secondaryColor, 10%);
	}
	ul li a:hover {
		color: $secondaryColor;
		background-color: $primaryColor, 10%;
	} //end ul 
	ul li.blue {
		background-position: 0 -136px;
		
	}
	ul li.bee {
		background-position: -136px -136px;
	}
	ul li.one {
		background-position: -136px 0;
	}
    ul li.one:hover {
        background-position: 0 0;
    }
	
}
