$primaryColor: #302b27;
$secondaryColor: #baa256;
$fontColor: #dce2eb;
$menuColor: #900;

$defaultFont: 'Lato',
sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
